@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu !important;
  scroll-behavior: smooth;
  overflow-x: hidden;

  //buttons in forms
  .formBtn{
    border: none;
    outline: none;
    background: transparent;
    color: $red;
  }

  .form-error {
    color: $red;
    margin-bottom: 1rem;
  }
  
  .home-breadcrumb {
    cursor: pointer;
    color: #0d6efd;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar{
  .header-navbar{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: grey;
    align-items: center;
  }
  .logo{
    height: 50px;
    width: 25px;
  }
  ul{
    display: flex;
    justify-content: center;
  }
  li{
    font-size: 15px;
    margin:0 15px;
  }
  a{
    text-decoration: none;
    color: grey;
    margin-right: 20px;
  }
  a:hover{
    color: white;
  }
}

.price {
  font-weight: bolder;
}

.landing-section {
  height: 570px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;


  .backgroundImg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    //top: -10%;
    flex-grow: 1;
  }

  .top-title {
    margin-top: 52px;
    text-align: center;
    z-index: 3;
  }
}

.landing-section {

  .headline {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .subhead {
    margin-top: 3px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16667;
    letter-spacing: .009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .subParagraph {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0;
  }

  .cta-links {

    a {
      color: #2997ff;
      text-decoration: none;
      font-size: 21px;
      font-weight: 400;

      &:nth-child(2) {
        margin-left: 30px;
      }
    }
  }
}

.landing-section.small {

  .headline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .subhead {
    margin-top: 3px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2381;
    letter-spacing: .016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .cta-links {

    a {
      color: #2997ff;
      text-decoration: none;
      font-size: 17px;
      font-weight: 400;

      &:nth-child(2) {
        margin-left: 30px;
      }
    }
  }
}

.sidebar-container{
  height: 750px;
.sidebar{
  background: #f3efef;
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
  h3{
    font-size: 1.2rem;
  }

  h4{
    font-size: 1rem;
  }

  .form-label{
    font-size: 15px;
  }

  .top-rated-img{
    height: 100px;
  }

  .top-nav{
    background: #919191;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  .hamburger{
    font-size: 28px;
    color: #e3e3e3;
  }


  .remove-button{
    cursor: pointer;
  }

  .remove{
    transition: all 0.5s ease;
    margin-left: -300px;
  }

  .active{
    transition: all 0.5s ease;
  }
}

.navbar.navbar-expand-lg {
  background-color: black;
  position: inherit;
  //z-index: 999;
  width: 100%;

  .input-field {
    width: 100%;
    padding-left: 31px;
  }

  .links {
    color: grey;
  }

  .links:hover {
    color: white;
  }

  .search {
    color: black;
    position: absolute;
    min-width: 31px;
    padding-top: 12px;
  }

  .bag {
    color: white;
    font-size: 24px;
  }
}

.categories-container {
   position: relative;
  .img-background {
    position: relative;
    height: 280px;
    background-size: cover;
    background-position: center;
  }

  .hr-medium-width{
    display: none;
  }

  .bars{
    display: none;
  }

  .filter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accordion-container{
    display: none;
  }

  .secondary-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;

  }

  h1 {

  }


  h2 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
  }


  .categories-list {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      cursor: pointer;
    }
  }

  h3 {
    font-size: 17px;
  }

  .form-range {
    width: 80%;
  }

  .dropdown-item{
    color: black;
  }

  .dropdown-item:hover{
    color: black;
    background: #e3e3e3;
  }


  hr {
    width: 80%;
  }

  .top-rated-img {
    height: 80px;
  }

  h4 {
    font-size: 16px;
  }


  .dropdown-div {
    border-bottom: 3px solid blue;
  }

  span {
    color: grey;
  }

  .header-products {
    font-size: 13px;
  }

  .icons {
    font-size: 21px;
    cursor: pointer;
  }

  .compact-container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(227px, 1fr) );
    margin-top: 22px;
  }

  h5 {
    font-size: 12px;
  }

  form{
    width: 80%;
  }

  .hover-container{
    width: 39px;
    height: 93px;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    opacity: 0;
    padding-left: 3px;
    transition: all 1s;
    margin-left: -25px;
  }
  
  .hover-item {
    cursor: pointer; 
  }


  .show-icon{
    opacity: 1;
    transition: all 3s;
  }

  .div-colors {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

  .red {
    background: red;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  .blue {
    background: blue;
  }

  .products-description {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .product-header {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }

  .toggle-side-bar{
    display: none;
  }

  i{
    font-size: 23px;
    cursor: pointer;
  }

  .icon-color{
    color: red;
  }

  .heart-icon{
    margin-right: 80px;
  }

  a{
    text-decoration: none;
    color: #e3e3e3;
  }

  a:hover{
    color: #e3e3e3;
  }

  .p-tag-container{
    background: #3f3e3e;
    color:white;
    margin-top: 7px;
    padding: 2px 5px;
  }


  .p-tag{
    opacity: 1;
    transition: all 0.5s;
    margin-top: 8px;
    position: absolute;
    z-index: 3;
    background: #3f3e3e;
    color:white;
    margin-left: -123px;
    padding: 2px 15px;
  }

  .add-to-cart{
    padding: 2px 26px;
  }

  .active-category {
    text-decoration: underline;
    text-decoration-color: #0d6efd;
    text-decoration-thickness: 4px;
  }

}

.product-view-container {
  padding: 3rem 0;
  display: flex;
  justify-content: center;

  .product-img{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .slideshow-container {
    display: flex;
    gap: 6px;
  }

  .slide-img {
    height: 150px;
  }

  .main-imgs {
    height: 300px;
  }

  .product-size {
    margin-top: 36px;
    margin-left: -25px;
  }

  h2 {
    font-size: 23px;
  }

  .show-medium{
    display: none;
  }

  .borderr-bottom {
    border-bottom: 2px solid blue;
    width: 50px;
  }

  h3 {
    font-size: 13px;
  }

  h4 {
    font-size: 15px;
  }

  span {
    color: grey;
  }

  .pv-price {
    font-weight: bolder;
    font-size: 1.7rem;
  }

  .div-colors {
    height: 23px;
    width: 23px;
    border-radius: 50%;
  }

  h6 {
    font-size: 15px;
  }

  a:hover {
    cursor: pointer;
    color: #3f3e3e;
  }

  .red {
    background: red;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  .blue {
    background: blue;
  }


  .items {
    margin-top: 30px;
    display: flex;
  }

  .no-items {
    border: 1px solid #e3e3e3;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 86px;
    margin-right: 20px;
    height: 35px;
  }

  .minus {
    height: 35px;
    border-right: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
  }

  .add {
    height: 35px;
    border-left: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
  }

  hr {
    color: gray;
  }

  .description-hr {
    width: 83%;
  }
}

.description {
  .description-header {
    font-size: 18px;
  }

  li {
    font-size: 15px;
  }

  p {
    font-size: 15px;
    color: gray;
  }
}

.reviews {

  .h-seven {
    font-size: 14px;
  }

  p {
    color: gray;
  }

  .comments {
    padding: 30px;
  }
}

.wishlist-container {
  .img-background {
    position: relative;
    height: 280px;
    background-size: cover;
    background-position: center;
  }

  .secondary-container {
    color: white;
    position: relative;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: 42px;
    font-size: 3.6rem;
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: 157px;
    font-size: 0.8rem;
  }

  .main-container {
    color: #444444;
  }

  h3 {
    font-size: 20px;
  }

  .product-image {
    height: 320px;
  }

  h5 {
    font-size: 12px;
  }

  .products-description {
    flex-direction: column;
    align-items: center;
  }

  .div-colors {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

  .compact-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }

  .remove-button {
    margin: -15px 12px 11px 100px;
  }

  .red {
    background: red;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  .blue {
    background: blue;
  }
}

.info-container {
  flex-direction: column;

  .additional-containers {
    align-items: baseline;
    width: 700px;
  }

  hr {
    color: gray;
    width: 700px;
  }
}

.swiper-container {
  width: 100%;

  .single-testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-img {
    height: 430px;
  }
}

.cart-container {
  display: flex;
  position: relative;
  flex: 1;
  height: 100%;
  h1{
    font-size: 18px;
    margin: 10px;
  }

  .added-products {
    height: 100%;
    width: 60%;
  }

  img {
    height: 100px;
  }

  .delete {
    color: orange;
    cursor:pointer;
  }

  .items {
    margin-top: 30px;
    display: flex;
  }

  .no-items {
    background: white;
    border: 1px solid #e3e3e3;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 86px;
    height: 26px;
  }

  .minus {
    height: 26px;
    border-right: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
  }

  .add {
    height: 26px;
    border-left: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
  }

  h2 {
    font-size: 24px;
  }

  span {
    color: gray;
  }

  .total-container {
    height: 200px;
    width: 300px;
  }

  .total-header{
    font-weight: bold;
  }

  button{
    width: 95%;
    margin-left: 6px;
  }
  .cart-empty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.product-slideshow-container {

  img {
    height: 200px;
  }

  h5 {
    font-size: 12px;
  }

  .project-description {
    flex-direction: column;
    align-items: center;
  }

  .price {
    font-size: 0.9rem;
  }

  .div-colors {
    height: 17px;
    width: 17px;
    border-radius: 50%;
  }
}

.table-container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: #efefef;

  .header-tag{
    border: 1px solid #d1d1d1;
  }

  tr{
    border: 1px solid #d1d1d1;
  }

  th{
    border: 1px solid #d1d1d1;
  }

  td{
    border: 1px solid #d1d1d1;
  }
}

.footer {
  position: sticky;
  top: 100%;
  background-color: #efefef;

  .footer-top {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion{
    display: none;
  }
  .collapse-medium{
    display: flex;
  }

  h1 {
    font-size: 17px;
  }

  ul {
    margin-left: -33px;
  }

  li {
    font-size: 13px;
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 13px;
  }
}

.multi-range-slider{
  position: relative;
  .slider {
    position: relative;
    width: 200px;
  }

  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }

  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }

  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }

  .slider__range {
    background-color: #9fe5e1;
    z-index: 2;
  }

  .slider__left-value,
  .slider__right-value {
    color: black;
    font-size: 15px;
    margin-top: 20px;
  }

  .slider__left-value {
    left: 6px;
    color: black;
    font-size: 15px;
  }

  .slider__right-value {
    right: -4px;
  }

  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }

  .thumb--left {
    z-index: 3;
  }

  .thumb--right {
    z-index: 4;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  p{
    font-size: 16px;
  }

  .span{
    color: grey;
    font-weight: lighter;
  }

}

.quick-view{
  .search-icon{
    cursor: pointer;
  }
  .modal-content{
    height: 100%;
  }

  .swiper-container{
    margin-top: -33px;
  }

  .main-img{
    height: 360px;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -1px;
    left: auto;
  }

  .price{
    font-size: 1.6rem;
  }

   li {
    color: grey;
    margin-bottom: 15px;
  }

   .no-items {
    border: 1px solid #e3e3e3;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 121px;
    margin-right: 20px;
    height: 58px;
  }

   .minus {
    height: 56px;
    border-right: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
  }

  .add {
    height: 56px;
    border-left: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
  }

  .btn{
    font-size: 12px;
    width: 154px;
    height: 50px;
  }


  .red {
    background: red;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  .blue {
    background: blue;
  }

}

#checkout-body {
  display: flex;

  #checkout-main {
    flex-basis: 70vw;
    margin-top: 2rem;

    .card {
      margin-bottom: 2rem;
      @include shadow
    }

    .card-header {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .final-text {
      text-transform: uppercase;
      font-weight: 600;
    }

    .final-price {
      font-weight: 600;
      font-size: 1.2rem;
    }

    span {
      text-transform: lowercase;
      font-weight: normal;
    }

    #placeOrder {
      margin-top: 1rem;
      width: 30rem;
      font-weight: 600;
    }
  }


  #checkout-sidebar {

    flex-basis: 30vw;
    margin-top: 2rem;

    #divForHelp {
      position: sticky;
      top: 6rem;
      z-index: 2;

    }

    #help-button {
      width: 16rem;
      font-weight: 500;
    }

    .card {
      @include pointerRemove;
      position: sticky;
      top: 10rem;
      z-index: 3;
      margin-bottom: 2rem;
    }

    .card-header {
      font-weight: 600;
      text-align: center;
    }

    .img-fluid {
      width: 4rem;
      height: 4rem;
      @include resizeImage;
    }

    .cart-details {
      font-size: 0.8rem;
    }

    .checkoutItemName {
      text-transform: capitalize;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    hr {
      color: rgba(0, 0, 0, 0.5);
    }

    .btn-sm {
      font-size: 0.75rem;
    }

  }
}

.map-info{
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

.dashboard{
  .order{
    font-size: 20px;
    margin:40px 12px;
  }

  h3{
    font-size: 25px;
  }

  th{
    font-size: 17px;
    text-align: center;
  }

  #stats{
    margin:40px 25px;
  }
}

.locate {
  position: absolute;
  bottom: 12rem;
  right: 1.5rem;
  background: white;
  border: none;
  z-index: 10;
}

.search-map{
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 600px;
  height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipsis;
  position: absolute;
  left: 25%;
  margin-left: -120px;
  top: 0.5rem;
}

#login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;

  .login-heading {
    align-items: center;
  }
}

#admin {
  display: flex;
  overflow-x: hidden;

  .sidebar {
    background: white;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .5s ease-out;
    -moz-transition: margin .5s ease-out;
    -o-transition: margin .5s ease-out;
    transition: margin 0.5s ease-out;

    h4{
      text-align: center;
      margin-top: 1.7rem;
      font-weight: 600;
    }

    .sidebarItem {
      width: 15rem;
    }

    .img-fluid {
      height: 3rem;
    }

    ul {
      margin-top: 3rem;
    }

    li {
      font-weight: 500;
      @include pointer;
    }

    i {
      margin-right: 0.5rem;
    }

    .change{
      margin-top: 3rem;
      font-weight: 600;
      font-size: 1.3rem;
      text-align: center;
    }


    .collapseMenu {
      font-size: 0.8rem;
      font-weight: normal;
    }

    .reportsLinks{
      text-decoration: none;
      color: black;
    }

  }

  .mainPanel {
    min-width: 100vw;

    .navbar{
      .fa-plus {
        //font-size: 1.5rem;
        border-radius: 50%;
        transition: transform 1s ease-out;
      }

      .navbar-brand {
        margin-left: 2rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .addBtn {
        margin-right: 1.2rem;
      }

      .main-add-button {
        font-size: 1rem;
      }

      .notiCount {
        margin-right: 0.5rem;
      }

      .notification {
        font-size: 1.5rem;
      }

      .dropdown {
        text-transform: initial;
      }

      .dropdown-menu{
        font-size: 0.8rem;
      }
    }

    .order {
      margin: 2rem 1rem;
      width: 97%;

      .card-header {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
      }

      td{
        text-align: center;
      }

      .far{
        font-size: 1.5rem;
        font-weight: 500;
      }

      .fa-clipboard{
        font-size: 1.5rem;
      }

      .orderItems{
        text-transform: capitalize;
        text-align: start;
        font-size: 0.8rem;
      }

      .orderRows{
        font-size: 0.85rem;
      }

      .statusBtn {
        width: 6.5rem;
        font-size: 0.7rem;
        text-transform: capitalize;
        @include pointerRemove()
      }

      .orderItemSpan{
        text-transform: lowercase;
        margin-left: 0.5rem;
        font-size: 0.85rem;
      }

      .ordersHeadingBig{
        width: 40%;
        text-align: center;
        text-transform: capitalize;
      }

      .ordersHeading{
        width: 8.1%;
        text-align: center;
      }

      .ordersEmail{
        text-align: center;
        width: 12.4%;
      }

      .performer{
        .performerName{
          width: 39%;
          text-align: center;
        }

        .performerID{
          width: 10%;
          text-align: center;
        }

        .performerHeading{
          width: 8.5%;
          text-align: center;
        }

        .performerProduct{
          font-size: 0.83rem;
          text-align: left;
          text-transform: capitalize;
        }
      }

      .fa-trash-alt{
        color: $red;
      }
    }

    #stats{
      margin: 2rem;

      .card{
        margin-right: 1rem;
      }

      .card-title{
        font-weight: 500;
      }

      .firstRow{
        display: flex;
        justify-content: space-between;
      }

      .statsHeader{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
      }

      .statNum{
        font-size: 2rem;
      }

      i{
        font-size: 2.5rem;
      }

      .percentage{
        display: flex;
        justify-content: flex-end;
        font-size: 1.2rem;
        font-weight: 500;
      }

      span{
        margin-top: 0.5rem;
        margin-left: 0.2rem;
        font-size: 0.7rem;
        color: black;
        font-weight: normal;
      }

      .profit{
        color: $green;
      }

      .loss{
        color: $red;
      }

    }

  }
}

#admin.toggled {
  .sidebar {
    margin-left: 0;
  }

  .fa-plus {
    transform: rotate(405deg);
  }
}

#add-product {
  padding: 0;

  @include pointerRemove;

  .card-header {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
  }

  @include required;

  label{
    font-weight: 500;
  }

  .form-text{
    font-size: 0.9rem;
  }

  select{
    @include pointer;
    text-transform: capitalize;
  }

  .optional {
    font-size: 0.7rem;
    font-weight: normal;
    text-transform: capitalize;
  }

  .ulButton {
    display: block;
    border: none;
    padding: 0 0.5rem;
    margin-left: 1rem;
  }

  .ulList {
    min-height: 22rem;
    height: auto;
    margin: 0.4rem;
    padding: 1rem;

    &:hover{
      cursor: auto;
    }
  }

  .subHeading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
  }

  .subHeadingCategory {
    font-weight: 500;
  }

  .imgRow, .editImgRow {
    display: flex;
  }

  .card {
    padding: 0;
    flex-basis: 18rem;
    margin: 1rem;
  }

  .imgCol {
    height: 16rem;
    background: $grey;
    @include resizeImage;
  }

  .catImage {
    height: 176px;
    background: $grey;
    @include resizeImage;
  }

  .catImageCard{
    width: 217.15px;
  }

  .far, .fa-plus {
    font-size: 1.35rem;
    @include pointer;
  }

  .image-card-actions {
    @include pointer;
    font-weight: 600;
  }

  #visibility {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
  }

  @include switch;

  .save {
    font-weight: 500;
    text-transform: uppercase;
  }

  .subBrandBtn, .optionBtn{
    margin: 1rem;
    font-size: 0.8rem;
  }

  .subBrandsList, .orderListEdit, .optionsList{
    padding-left: 0;
    list-style: none;
  }

  .subBrandItem, .optionItem{
    width: 45%;
    margin-bottom: 1rem;
  }

  .orderProductEdit{
    width: 60%;
    margin-bottom: 1rem;
  }

  .orderQuantityEdit{
    width: 8%;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    text-align: center;
  }

  .otEdit {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
  }

  .finals{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  .subBrandDelete, .orderProductDelete, .optionDelete{
    font-size: 1.5rem;
    color: $red;
    margin-top: 0.4rem;
    @include pointer;
  }

  .rectangle{
    height: 19px;
    width: 25px;
  }

  option{
    text-transform: capitalize;
    //font-weight: 800;
  }

  .subBrandOption{
    font-size: 0.9rem;
    font-weight: normal;
  }

  .noSubBrand{
    font-weight: 500;
  }

  .richTitle{
    margin-top: 0.3rem;
  }

  .tool-list{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    overflow: hidden;
    font-size: 1.15rem;
  }

  #newDebtorTable{
    .newDebtorColSmallest{
      min-width: 2rem;
      max-width: 2rem;
    }

    .newDebtorColSmall{
      min-width: 5rem;
      max-width: 5rem;
    }

    .newDebtorColBig{
      min-width: 20rem;
    }

    .fa-trash-alt {
      color: #DC3545;
    }
  }

  .dropdown-item{
    font-size: 0.875rem;
    @include pointer
  }

  #newInvTable{
    .fa-trash-alt {
      color: #DC3545;
    }
  }
}

#viewProducts{
  margin: 2rem 2.5rem 2rem 1rem;

  .card-header{
    font-size: 1.5rem;
    font-weight: 500;
  }

  .tableHeaderBig{
    width: 20%;
    text-align: center;
    text-transform: capitalize;
  }

  .tableHeader{
    width: 10%;
    text-align: center;
  }

  td{
    text-align: center;
  }

  .productStatus {
    font-weight: 500;
    width: 3rem;
    font-size: 0.65rem;
    text-transform: capitalize;
    @include pointerRemove()
  }

  .view_table_name{
    text-transform: capitalize;
    text-align: start;
  }

  .subBrandsCollapse, .subBrandCategory{
    text-transform: capitalize;
    font-size: 0.9rem;
    text-align: start;
  }

  @include switch;

  .table-icon{
    font-size: 1.5rem;
    font-weight: 500;
    
    &:hover {
      cursor: pointer;
    }
  }

  .edit {
    color: $blue;
  }

  .fa-clipboard{
    font-size: 1.5rem;
  }

  .fa-trash-alt{
    color: $red;
  }

  .deleteForm{
    display: inline;
  }

  .hasSub{
    @include pointer;
  }

  .product-name-heading{
    width: 30%;
    text-align: center;
    text-transform: capitalize;
  }

  .product-name{
    font-size: 0.8rem;
    text-align: start;
    text-transform: capitalize;
  }

  .product-others{
    width: 8.75%;
    text-align: center;
  }

  .product-row{
    height: 3.5rem;
  }

  .pricelist-row{
    @include pointer
  }

  .products-view-switch{
    &:hover{
      cursor: no-drop;
    }
  }

  .orderItems{
    text-transform: capitalize;
    text-align: start;
    font-size: 0.8rem;
  }

  .orderRows{
    font-size: 0.85rem;
  }

  .statusBtn {
    width: 6.5rem;
    font-size: 0.7rem;
    text-transform: capitalize;
    @include pointerRemove()
  }

  .dateSorta{
    font-size: 0.5px;
    display: block;
  }

  .orderItemSpan{
    text-transform: lowercase;
    margin-left: 0.5rem;
    font-size: 0.85rem;
  }

  .ordersHeadingBig{
    width: 40%  ;
    text-align: center;
    text-transform: capitalize;
  }

  .ordersHeading{
    width: 8.1%;
    text-align: center;
  }

  .ordersEmail{
    text-align: center;
    width: 12.4%;
  }

  .detailedName{
    font-weight: 500;
    text-align: center;
    font-size: 0.83rem;
  }

  .detailedCol{
    font-weight: 500;
    font-size: 0.83rem;
    min-width: 50px !important;
    max-width: 50px !important;
  }

  .detailedDelete{
    min-width: 60px !important;
    max-width: 60px !important;
  }

  .det{
    margin-left: 1.5rem;
  }

  .detailedCell{
    font-weight: 500;
  }

  .customerName{
    min-width: 7rem;
  }

  .newOrderP{
    @include pointer;
  }

  .accTotal{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
  }

  #creditIndexT{
    .creditSmall{
      text-align: center;
      min-width: 4rem !important;
    }

    .creditMid{
      text-align: center;
      min-width: 12rem !important;
    }

    .creditML{
      text-align: center;
      min-width: 15rem !important;
    }

    .creditLarge{
      text-align: center;
      min-width: 25rem !important;
    }

    .debtorInfo{
      text-align: left;

      .debtorName{
        text-transform: capitalize;
        display: block;
      }

      .debtorPhone{
        margin: 0.5rem 0;
        display: block;
      }
    }

    .productHistory{
      text-align: left;

      .currentTotal{
        font-weight: 500;
        font-size: 1rem;
      }

      ul{
        margin-bottom: 0;
      }

      .full{
        color: #0d6efd;
        text-decoration: underline;
        @include pointer
      }
    }

    td{
      font-size: 0.9rem;
    }
  }

  #inventoryIndexT{
    .invName{
      text-align: center;
      min-width: 23rem !important;
    }

    .invOthers{
      text-align: center;
      min-width: 8rem !important;
    }

    .invAction{
      text-align: center;
      min-width: 10rem !important;
    }

    .fa-eye{
      font-size: 1.5rem;
      color: black;
      margin-right: 1.5rem;
    }
  }

  .special-heading{
    margin: 1.5rem 0 0 1rem;
    color: red;
  }
}

.fullHistoryTable{
  font-size: 0.9rem;

  .dateSorta{
    font-size: 0.5px;
    display: block;
  }

  .modalColSmall{
    min-width: 2.5rem;
  }

  .modalColBig{
    min-width: 15rem;
  }

  .creditRow{
    color: red;
  }

  .debitRow{
    color: green;
  }

  .historyItem{
    text-align: left !important;
  }

}

.pac-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

@import "media-queries";
