@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.navbar{
  .logo{
    cursor: pointer;
  }
  ul{
    display: flex;
    justify-content: center;
  }
  li{
    font-size: 15px;
    margin:0 15px;
  }
}


.price {
  color: #0066CC;
  font-weight: bolder;
}

.landing-section {
  height: 570px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;


  .backgroundImg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    //top: -10%;
    flex-grow: 1;
  }

  .top-title {
    margin-top: 52px;
    text-align: center;
    z-index: 3;
  }
}

.landing-section {

  .headline {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .subhead {
    margin-top: 3px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16667;
    letter-spacing: .009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .subParagraph {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0;
  }

  .cta-links {

    a {
      color: #2997ff;
      text-decoration: none;
      font-size: 21px;
      font-weight: 400;

      &:nth-child(2) {
        margin-left: 30px;
      }
    }
  }
}

.landing-section.small {

  .headline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .subhead {
    margin-top: 3px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2381;
    letter-spacing: .016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .cta-links {

    a {
      color: #2997ff;
      text-decoration: none;
      font-size: 17px;
      font-weight: 400;

      &:nth-child(2) {
        margin-left: 30px;
      }
    }
  }
}

.sidebar-container{
  height: 750px;
.sidebar{
  background: #f3efef;
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
  h3{
    font-size: 1.2rem;
  }

  h4{
    font-size: 1rem;
  }

  .form-label{
    font-size: 15px;
  }

  .top-rated-img{
    height: 100px;
  }

  .top-nav{
    background: #919191;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  .hamburger{
    font-size: 28px;
    color: #e3e3e3;
  }


  .remove-button{
    cursor: pointer;
  }

  .remove{
    transition: all 0.5s ease;
    margin-left: -300px;
  }

  .active{
    transition: all 0.5s ease;
  }
}

.navbar.navbar-expand-lg {
  background-color: black;
  position: inherit;
  //z-index: 999;
  width: 100%;

  .input-field {
    width: 100%;
    padding-left: 31px;
  }

  .links {
    color: grey;
  }

  .links:hover {
    color: white;
  }

  .search {
    color: black;
    position: absolute;
    min-width: 31px;
    padding-top: 12px;
  }

  .bag {
    color: white;
    font-size: 24px;
  }
}

.categories-container {
   position: relative;
  .img-background {
    position: relative;
    height: 280px;
    background-size: cover;
    background-position: center;
  }

  .hr-medium-width{
    display: none;
  }

  .bars{
    display: none;
  }


  .filter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accordion-container{
    display: none;
  }

  .secondary-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;

  }

  h1 {

  }


  h2 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
  }


  .categories-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 17px;
  }

  .form-range {
    width: 80%;
  }

  hr {
    width: 80%;
  }

  .product-image{
    cursor: pointer;
  }

  .top-rated-img {
    height: 80px;
  }

  h4 {
    font-size: 16px;
  }


  .dropdown-div {
    border-bottom: 3px solid blue;
    width: 138px;
  }

  span {
    color: grey;
  }

  .header-products {
    font-size: 13px;
  }

  .icons {
    font-size: 21px;
    margin-right: 8px;
  }

  .compact-container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(227px, 1fr) );
    margin-top: 22px;
  }

  h5 {
    font-size: 12px;
  }

  .product-image {
    height: 220px;
  }

  .main-product-container{
    margin-right: 50px;
  }

  form{
    width: 80%;
  }

  .hover-container{
    margin-left: -41px;
    width: 39px;
    height: 130px;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    opacity: 0;
    padding-left: 3px;
    transition: all 1s;
  }


  .show-icon{
    opacity: 1;
    transition: all 2.5s;
  }

  .div-colors {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

  .red {
    background: red;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  .blue {
    background: blue;
  }

  .products-description {
    flex-direction: column;
    align-items: center;
  }

  .product-header {
    font-size: 14px;
  }

  .toggle-side-bar{
    display: none;
  }

  i{
    font-size: 23px;
    cursor: pointer;
  }

  .icon-color{
    color: red;
  }

  .heart-icon{
    margin-right: 80px;
  }

  a{
    text-decoration: none;
    color: #e3e3e3;
  }

  a:hover{
    color: #e3e3e3;
  }

  .add-to-wishlist-text{
    position: absolute;
    z-index: 3;
    background: #3f3e3e;
    color:white;
    margin-top: 7px;
    margin-left: -98px;
    padding: 2px 5px;
    opacity: 0;
     transition: all 0.5s;
  }


  .add-to-cart-text{
    margin-top: -28px;
    position: absolute;
    z-index: 3;
    background: #3f3e3e;
    color:white;
    margin-left: -98px;
    padding: 2px 15px;
    opacity: 0;
     transition: all 0.5s;
  }

  .quick-view-text{
    margin-top: -28px;
    position: absolute;
    z-index: 3;
    background: #3f3e3e;
    color:white;
    margin-left: -98px;
    padding: 2px 15px;
    opacity: 0;
     transition: all 0.5s;
  }

  .p-tag{
    opacity: 1;
    transition: all 0.5s;
  }


}

.product-view-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .product-img{
    display: flex;
  }

  .slide-img {
    height: 150px;
  }

  .main-imgs {
    height: 300px;
  }

  .product-size {
    margin-top: 36px;
    margin-left: -25px;
  }

  h2 {
    font-size: 23px;
  }

  .show-medium{
    display: none;
  }

  .borderr-bottom {
    border-bottom: 2px solid blue;
    width: 50px;
  }

  h3 {
    font-size: 13px;
  }

  h4 {
    font-size: 15px;
  }

  span {
    color: grey;
  }

  .price {
    color: #0066CC;
    font-weight: bolder;
    font-size: 1.7rem;
  }

  li {
    color: grey;
    margin-bottom: 15px;
  }

  .div-colors {
    height: 23px;
    width: 23px;
    border-radius: 50%;
  }

  h6 {
    font-size: 15px;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: #919191;
  }

  a:hover {
    cursor: pointer;
    color: #3f3e3e;
  }

  .active {
    color: white;
    background: black;
  }

  .red {
    background: red;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  .blue {
    background: blue;
  }


  .items {
    margin-top: 30px;
    display: flex;
  }

  .no-items {
    border: 1px solid #e3e3e3;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 86px;
    margin-right: 20px;
    height: 35px;
  }

  .minus {
    height: 35px;
    border-right: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
  }

  .add {
    height: 35px;
    border-left: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
  }

  hr {
    color: gray;
  }

  .description-hr {
    width: 83%;
  }
}

.description {
  .description-header {
    font-size: 18px;
  }

  li {
    font-size: 15px;
  }

  p {
    font-size: 15px;
    color: gray;
  }
}

.reviews {

  h7 {
    font-size: 14px;
  }

  p {
    color: gray;
  }

  .comments {
    padding: 30px;
  }
}

.wishlist-container {
  .img-background {
    position: relative;
    height: 280px;
    background-size: cover;
    background-position: center;
  }

  .secondary-container {
    color: white;
    position: relative;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: 42px;
    font-size: 3.6rem;
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: 157px;
    font-size: 0.8rem;
  }

  .main-container {
    color: #444444;
  }

  h3 {
    font-size: 20px;
  }

  .product-image {
    height: 320px;
  }

  h5 {
    font-size: 12px;
  }

  .products-description {
    flex-direction: column;
    align-items: center;
  }

  .div-colors {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

  .compact-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }

  .remove-button {
    margin: -15px 12px 11px 100px;
  }

  .red {
    background: red;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  .blue {
    background: blue;
  }
}

.info-container {
  flex-direction: column;

  .additional-containers {
    align-items: baseline;
    width: 700px;
  }

  hr {
    color: gray;
    width: 700px;
  }
}

.swiper-container {
  margin-top: -300px;
  width: 70%;

  .single-testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-img {
    height: 430px;
  }
}

.cart-container {
  display: flex;
  h1{
    font-size: 18px;
    margin: 10px;
  }

  .added-products {
    background: #f3efef;
    height: 100%;
    width: 60%;
  }

  img {
    height: 100px;
  }

  .delete {
    color: orange;
  }

  .items {
    margin-top: 30px;
    display: flex;
  }

  .no-items {
    background: white;
    border: 1px solid #e3e3e3;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 86px;
    height: 26px;
  }

  .minus {
    height: 26px;
    border-right: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
  }

  .add {
    height: 26px;
    border-left: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
  }

  h2 {
    font-size: 24px;
  }

  span {
    color: gray;
  }

  .total-container {
    background: #f3efef;
    height: 200px;
    width: 300px;
  }

  .total-header{
    font-weight: bold;
  }

  button{
    width: 95%;
    margin-left: 6px;
  }
}

.product-slideshow-container {

  img {
    height: 200px;
  }

  h5 {
    font-size: 12px;
  }

  .project-description {
    flex-direction: column;
    align-items: center;
  }

  .price {
    font-size: 0.9rem;
  }

  .div-colors {
    height: 17px;
    width: 17px;
    border-radius: 50%;
  }
}

.table-container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: #efefef;

  .header-tag{
    border: 1px solid #d1d1d1;
  }

  tr{
    border: 1px solid #d1d1d1;
  }

  th{
    border: 1px solid #d1d1d1;
  }

  td{
    border: 1px solid #d1d1d1;
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #efefef;
  margin-top: 52px;

  .footer-top {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 17px;
  }

  ul {
    margin-left: -33px;
  }

  li {
    font-size: 13px;
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 13px;
  }
}

.multi-range-slider{
  position: relative;
  .slider {
    position: relative;
    width: 200px;
  }

  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }

  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }

  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }

  .slider__range {
    background-color: #9fe5e1;
    z-index: 2;
  }

  .slider__left-value,
  .slider__right-value {
    color: black;
    font-size: 15px;
    margin-top: 20px;
  }

  .slider__left-value {
    left: 6px;
    color: black;
    font-size: 15px;
  }

  .slider__right-value {
    right: -4px;
  }

  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }

  .thumb--left {
    z-index: 3;
  }

  .thumb--right {
    z-index: 4;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  p{
    font-size: 16px;
  }

  .span{
    color: grey;
    font-weight: lighter;
  }

}

.quick-view{
  .search-icon{
    cursor: pointer;
  }
  .modal-content{
    height: 100%;
  }

  .swiper-container{
    margin-top: -33px;
  }

  .main-img{
    height: 360px;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -1px;
    left: auto;
  }

  .price{
    font-size: 1.6rem;
  }

   li {
    color: grey;
    margin-bottom: 15px;
  }

   .no-items {
    border: 1px solid #e3e3e3;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 121px;
    margin-right: 20px;
    height: 58px;
  }

   .minus {
    height: 56px;
    border-right: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
  }

  .add {
    height: 56px;
    border-left: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
  }

  .btn{
    font-size: 12px;
    width: 154px;
    height: 50px;
  }


  .red {
    background: red;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }

  .purple {
    background: purple;
  }

  .blue {
    background: blue;
  }

}

@import "media-queries";