//large
@media (max-width: 1199.98px) {

  .footer{
    .accordion{
      display: none;
    }
    .collapse-medium{
      display: flex;
    }
  }

  #admin {
    .mainPanel {

      .navbar {
        .addBtn {
          font-size: 0.7rem;
        }

        .notiCount {
          margin-right: 0.5rem;
        }

        .notification {
          font-size: 1.5rem;
        }

        .dropdown {
          text-transform: initial;
        }

      }

      #chartsRow {
        .chart-container {
          height: 170px;
          width: 319px;
        }

      }

      #stats {

        .card-title {
          font-size: 1rem;
        }

        .statNum {
          font-size: 1.2rem;
        }

        i {
          font-size: 2rem;
        }

        .percentage {
          font-size: 1rem;
        }

        span {
          font-size: 0.6rem;
        }

      }

    }
  }

  #viewProducts{
    .detailedName{
      font-size: 0.75rem;
    }

    .detailedCol{
      font-size: 0.75rem;
      min-width: 30px !important;
      max-width: 30px !important;
    }

    .detailedDelete{
      min-width: 48px !important;
      max-width: 48px !important;
    }

    .det{
      margin-left: 1rem;
    }

    .detailedCell{
      font-size: 0.8rem !important;
    }
  }

}

//medium
@media (max-width: 991.98px) {
  .cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .added-products{
      width: 90%;
    }
    .total-container{
      width: 90%;
      margin-top: 20px;
    }
    p{
      font-size: 13px;
    }
    h2{
      font-size: 15px;
    }
  }

  .categories-container{
    .opened-sidebar{
      margin-top: -750px;
    }

    .secondary-container{
      padding-top: 100px;
    }

    .img-background{
      background-size: cover;
      background-position: center;
    }

    .accordion-container{
      display: block;
      z-index: 10;
    }

    .categories-list{
      display: none;
    }

    .hr-medium-width{
      display: block;
      width: 100%;
      margin-top: 30px;
    }

    .filter-header{
      display: none;
    }

    .filter-container{
      display: none;
    }

    .bars{
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
    }

    .sidebar-container{
      height: 750px;
      z-index: 10;
      margin-bottom: 20px;


      .sidebar{
        overflow-y: scroll;
        background: #f3efef;
        position: relative;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        padding: 20px 0;
        transition: all 0.5s ease;
      }

      h3{
        font-size: 1.2rem;
      }

      h4{
        font-size: 1rem;
      }

      .form-label{
        font-size: 15px;
      }

      .top-rated-img{
        height: 100px;
      }

      .top-nav{
        background: #919191;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 30px;
      }

      .hamburger{
        font-size: 28px;
        color: #e3e3e3;
      }


      .remove-button{
        cursor: pointer;
      }

      .remove{
        transition: all 0.5s ease;
        margin-left: -300px;
      }

      .active{
        transition: all 0.5s ease;
      }
    }

  }

  .product-view-container{

    .product-img{
      display: flex;
      flex-direction: column-reverse;
    }

    .slideshow-container{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      flex-direction: column;
      align-items: center;
    }

    .slide-img{
      margin-right: 30px;
    }

    .swiper-container{
      margin-top: -104px;
    }

    .product-view-container .product-size {
      margin-left: 500px;
      margin-top: 36px;
    }

    .product-size{
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
    }

    .show-large{
      display: none;
    }

    .show-medium{
      display: block;
    }

    .header-container{
      padding: 0 25px;
    }

  }

  .footer{
    .accordion{
      display: block;
    }
    .accordion-li{
      font-size: 14px;
    }
    .accordion-button{
      background:#efefef;
    }
    .accordion-item{
      background:#efefef;
    }
    .collapse-medium{
      display: none;
    }
  }

  .search-map{
    width: 400px;
    height: 30px;
    padding: 0 11px;
    font-size: 12px;
    left: 10%;
    margin-left: 0;
    top: 0.5rem;
  }

  #checkout-body {

    #checkout-main {
      flex-basis: 55vw;
      margin-top: 2rem;

      .card-header {
        font-size: 1rem;
      }

      .form-text{
        font-size: 0.75rem;
      }

      label {
        font-size: 0.9rem;
      }

      span {
        font-size: 0.8rem;
      }

      .paymentSpan{
        font-size: 0.75rem;
      }

      .final-text{
        font-size: 0.9rem;
      }

      #placeOrder {
        font-size: 1rem;
        width: 12rem;
      }
    }

    #checkout-sidebar {
      flex-basis: 45vw;
      margin-top: 2rem;

      #divForHelp {
        top: 5rem;
      }

      #help-button {
        width: 10rem;
        font-size: 0.9rem;
      }

      .card {
        top: 8.5rem;
      }

      .img-fluid {
        width: 3rem;
        height: 3rem;
      }

      .card-header {
        font-size: 0.9rem;
      }

      .cart-details {
        font-size: 0.7rem;
      }


      .btn-sm {
        font-size: 0.7rem;
      }

    }
  }

  #admin {
    .sidebar {

      li {
        font-size: 1rem;
      }

      i {
        margin-right: 0.5rem;
      }

      .collapseMenu {
        li {
          font-weight: normal;
          font-size: 0.85rem;
        }
      }

    }

    .mainPanel {

      .navbar {

        .navbar-nav {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 1rem 0;
        }

        .addBtn {
          margin: 0;
          font-size: 1rem;
        }

        .notiCount {
          margin-right: 0.5rem;
        }

        .dropdown-menu {
          font-size: 0.9rem;
        }
      }

      #chartsRow {
        display: flex;
        flex-wrap: wrap;

        .chart-container {
          margin: auto;
          margin-top: 1.2rem;
          padding: 1rem;
          height: 250px;
          width: 470px;
        }

      }

      #stats {
        margin: 2rem;

        .row {
          display: flex;
          flex-wrap: wrap;
        }

        .card {
          margin-top: 1rem;
          flex-basis: 12rem;
        }


        .statNum {
          font-size: 2rem;
        }

        i {
          font-size: 2.5rem;
        }

        .percentage {
          font-size: 1.2rem;
          font-weight: 500;
        }

        span {
          font-size: 0.7rem;
          color: black;
          font-weight: normal;
        }

        .profit {
          color: $green;
        }

        .loss {
          color: $red;
        }

      }

      .order {
        width: 98%;
        margin: 1rem 0.5rem 0.5rem 0.3rem;

        .card-body {
          margin-right: 0.7rem;
        }

        th {
          min-width: 6rem;
        }

        .itemsTh {
          min-width: 20rem;
        }

        .status {
          min-width: 10rem;
        }

        td {
          font-size: 0.9rem;
        }

        .btn {
          width: 7rem;
          font-size: 0.7rem;
        }

        .ordersHeadingBig{
          min-width: 25rem;
        }

        .performer{
          .performerName{
            min-width: 25rem;
          }
        }

      }

    }
  }

  #viewProducts{
    margin: 1rem 0.5rem 1rem 0.3rem;

    .ordersHeadingBig{
      min-width: 25rem;
    }

    .product-name-heading{
      min-width: 18rem;
      font-size: 0.9rem;
    }

    .product-others, .tableHeader{
      font-size: 0.9rem;
    }

    .tableHeaderBig{
      font-size: 0.9rem;
      min-width: 18rem;
    }

    tr{
      font-size: 0.87rem;
    }

    .detailedName{
      font-size: 0.73rem;
    }

    .detailedCol{
      font-size: 0.73rem;
      min-width: 25px !important;
      max-width: 25px !important;
    }

    .detailedCell{
      font-size: 0.75rem !important;
    }

    #inventoryIndexT{
      .invName{
        min-width: 19rem !important;
      }

      .invOthers{
        min-width: 7rem !important;
      }
    }
  }

  #add-product{
    li{
      margin: 2rem 0;
    }

    .orderProductEdit{
      width: 100%;
      font-size: 0.8rem;
    }

    .orderQuantityEdit{
      width: 100%;
      font-size: 0.8rem;
    }
  }
}

//small
@media (max-width: 767.98px) {

  #checkout-body {
    display: flex;
    flex-wrap: wrap-reverse;

    #checkout-main {
      flex-basis: 100vw;
      padding: 0;

      .card {
        margin-bottom: 1.5rem;
      }

      .card-header {
        font-size: 1.2rem;
      }

      label {
        font-size: 0.9rem;
      }

      input[placeholder], textarea[placeholder], select, option, .form-check-label {
        font-size: 0.8rem;
      }

      .final-text {
        font-weight: 600;
        font-size: 0.9rem;
      }

      .final-price {
        font-weight: 600;
        font-size: 1rem;
      }

      span {
        text-transform: lowercase;
        font-weight: normal;
      }


      #placeOrder {
        margin-top: 1rem;
        width: 10rem;
        font-weight: 600;
      }
    }

    #checkout-sidebar {
      flex-basis: 100vw;
      margin-top: 1rem;
      padding: 0;


      #divForHelp {
        position: static;
      }

      #help-button {
        width: 8rem;
        font-weight: 500;
      }

      .card {
        position: static;

      }


      .img-fluid {
        width: 5rem;
        height: 4rem;
      }

      .cart-details {
        font-size: 0.8rem;
      }

      .checkoutItemName {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      hr {
        color: rgba(0, 0, 0, 0.5);
      }

      .btn-sm {
        font-size: 0.9rem;
      }

    }
  }

  .search-map{
    width: 300px;
    height: 30px;
    padding: 0 11px;
    font-size: 12px;
    left: 1%;
    margin-left: 0;
    top: 0.5rem;
  }

  .locate {
    bottom: 11.3rem;
    right: 1.4rem;
  }

  #admin {
    .mainPanel {
      .navbar{
        .navbar-brand{
          font-size: 1.3rem;
        }
      }

      #chartsRow {
        .chart-container {
          padding: 0;
          height: 178px;
          width: 344px;
        }

      }

      #stats {
        .card {
          margin-right: 0;
          flex-basis: 13rem;
        }
      }

      .order {
        width: 95%;
      }
    }
  }

  #add-product{
    .card-header{
      font-size: 1.25rem;
    }

    .save{
      font-size: 0.85rem;
      margin-top: 1rem;
    }
  }
}
